{% extends "base.html" %}

{% block content %}
<div class="about-section__wrapper">
    <h1 class="about-section__title">МЫ ПОМОГАЕМ ЛЮДЯМ СБЛИЗИТЬСЯ</h1>
    <p class="about-section__text">Добро пожаловать на SkillSwap! Мы — команда единомышленников, объединенных одной целью: создать уникальную платформу, где люди могут обмениваться знаниями и навыками. </p>
    <p class="about-section__text">В мире, где информация и умения становятся все более ценными, мы верим, что каждый может научить и научиться чему-то новому. Мы стремимся создать сообщество, в котором каждый сможет найти единомышленников, поделиться своими знаниями и получить новые навыки в обмен на свои.</p>
    <p class="about-section__text">SkillSwap — это не просто платформа, это место, где рождаются идеи, развиваются таланты и укрепляются связи. </p>
    <h2 class="about-section__subtitle">Как это работает</h2>
    <p class="about-section__text">На SkillSwap вы можете легко находить людей, готовых поделиться своими навыками, и предлагать свои в обмен.</p>
    <h2 class="about-section__subtitle">Наша платформа позволяет вам</h2>
    <p class="about-section__text">Искать и фильтровать навыки по интересам и уровням<br>Оставлять отзывы и оценки, чтобы помочь другим пользователям находить лучших наставников.</p>
    <h2 class="about-section__subtitle">Присоединяйтесь к нам!</h2>
    <p class="about-section__text">Мы приглашаем вас стать частью нашего сообщества. Зарегистрируйтесь сегодня и начните обмениваться знаниями с другими пользователями. Если у вас есть вопросы или предложения, не стесняйтесь связаться с нами. Мы всегда рады услышать от вас!</p>
    <p class="about-section__text">Спасибо, что выбрали SkillSwap.</p>
</div>
{% endblock %}
