{% extends "base.html" %}

{% block content %}

<div class="advantages">
    <div class="advantages__advantage">
        <img src="./static/community.svg" alt="community">
        <div class="advantages__text-block">
            <h2 class="advantages__title">Сообщество единомышленников</h2>
            <p class="advantages__text">
                "SkillSwap" создает сообщество, где пользователи могут общаться, делиться опытом и находить единомышленников. Это способствует не только обучению, но и развитию социальных связей.</p>
        </div>
    </div>
    <div class="advantages__advantage">
        <img src="./static/list.svg" alt="list">
        <div class="advantages__text-block">
            <h2 class="advantages__title">Доступ к разнообразным навыкам</h2>
            <p class="advantages__text">
                Пользователи могут находить и обмениваться широким спектром навыков, от языков и музыки до кулинарии и программирования. Это позволяет каждому найти что-то интересное и полезное для себя.</p>
        </div>
    </div>
    <div class="advantages__advantage">
        <img src="./static/stocks.svg" alt="stocks">
        <div class="advantages__text-block">
            <h2 class="advantages__title">Развитие личных и профессиональных навыков</h2>
            <p class="advantages__text">
                Обмен навыками не только помогает вам учиться, но и развивает ваши собственные навыки. Преподавая другим, вы углубляете свои знания и становитесь более уверенными в своих способностях.</p>
        </div>
    </div>
    <div class="advantages__advantage">
        <img src="./static/clock.svg" alt="clock">
        <div class="advantages__text-block">
            <h2 class="advantages__title">Экономия времени</h2>
            <p class="advantages__text">
                Обмен навыками позволяет вам учиться без финансовых затрат. Вместо того чтобы платить за курсы или уроки, вы можете предложить свои навыки в обмен на обучение тому, что вас интересует.</p>
        </div>
    </div>
</div>

{% endblock %}
