<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./static/style.css">
    <title>{{title}}</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="/" class="header__logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
                    Skillswap
                </a>

                {% if current_user.is_authenticated %}
                <a href="/logout" class="header__current-user">Username</a>
                {% endif %}

                <nav class="header__nav">
                    {% if current_user.is_authenticated %}
                    <a href="/add-skill" class="btn">Добавить навык</a>
                    {% else %}
                    <a href="/register" class="btn">Регистрация</a>
                    <a href="/login" class="btn">Вход</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="main__wrapper">
                {% block content %} {% endblock %}
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <nav class="footer__nav">
                    <a href="/advantages" class="footer__link">Преимущества</a>
                    <a href="/feedbacks" class="footer__link">Отзывы</a>
                    <a href="/about" class="footer__link">О нас</a>
                    <a href="/newsletter" class="footer__link">Рассылка</a>
                </nav>

                <div class="footer__info">
                    Контактная информация
                    <div class="footer__c-m-wrapper">
                        <div class="footer__contacts-wrapper">
                            <div class="footer__contacts">
                                +7 919 636-77-33
                            </div>
                            <div class="footer__contacts">
                                alabugaskills@gmail.com
                            </div>
                        </div>

                        <div class="footer__medias">
                            <a href="/https://wa.me/79196367733" class="footer__link"><img src="./static/img/whatsapp.svg" alt="whastsup"></a>
                            <a href="https://t.me/@blogmoggangalab" class="footer__link"><img src="./static/img/telegram.svg" alt="tlegram"></a>
                            <a href="https://discordapp.com/users/1057644540900691978" class="footer__link"><img src="./static/img/discord.svg" alt="discord"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
