{% extends "base.html" %}

{% block content %}
<form action="" class="form" method="post">
    <h2>{{ title }}</h2>
    <fieldset class="form__fieldset">
       {{ form.name(class="form__input", placeholder="Фамилия и Имя", value=current_user.name) }}
        {{ form.home(class="form__input", value="{{ current_user.home }}") }}
        {{ form.password(minlength="8", type="password", placeholder="Пароль", class="form__input") }}
        {{ form.password_again(minlength="8", type="password", placeholder="Повторите пароль", class="form__input") }}
        {{ form.submit(class="btn btn_submit", type="submit") }}
    </fieldset>
</form>
{% endblock %}
