{% extends "base.html" %}

{% block content %}
<form action="" class="form" method="post">
    <h2>Авторизация</h2>
    <fieldset class="form__fieldset">
        {{ form.tel(placeholder="Номер телефона", class="form__input", type="tel") }}
        {{ form.password(minlength="8", type="password", placeholder="Пароль", class="form__input") }}
        <div class="form__remember-me">
            {{ form.remember_me(type="checkbox") }}
            <label for="remember_me">Запомнить меня</label>
        </div>
        {{ form.submit(class="btn btn_submit", type="submit") }}
        <p class="form__text">{{ message }}</p>
    </fieldset>
</form>
{% endblock %}
