{% extends "base.html" %}

{% block content %}

<form action="get" class="search-form">
    <fieldset class="search-form__fieldset">
        <input type="search" placeholder="Искать здесь..." name="search" class="search-form__search">
        <button type="submit" class="search-form__btn">🔍</button>
    </fieldset>
</form>
{% for item in skills %}
<section class="skills">
    <div class="skills__wrapper">
        <h2 class="skills__title">Навыки Абитуриентов</h2>
        <div class="skills__skill">
            <div class="skills__title-wrapper"><h2 class="skills__skill-title">{{item.title}}</h2> <a href="/">#teg</a></div>
            <p class="skills__content">{{item.content}}</p>
            <p class="skills__autor">Автор - {{item.user.name}}, Дата написания - {{item.created_date}}</p>
        </div>
    </div>
</section>
{% endfor %}



{% endblock %}
